.time-label {
    -fx-font-size: 12px;
    -fx-text-fill: #444;
    -fx-alignment: center;
    -fx-padding: 5;
}

.calendar-cell {
    -fx-border-color: #ddd;
    -fx-background-color: #fafafa;
    -fx-min-width: 100px;
    -fx-min-height: 50px;
}
.calendar-cell:hover {
    -fx-background-color: #e6f7ff;
}