.button {
    -fx-border-color: black; 
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: lightgray;
}


.table-view .column-header-background {
    -fx-background-color: rgb(42, 43, 46);  /* your desired color */
    -fx-background-insets: 0;               /* remove default insets */
    -fx-padding: 0;                          /* remove extra padding */
}

/* Each column header */
.table-view .column-header {
    -fx-background-color: transparent;      /* ensure parent color shows */
}

/* The label inside each header */
.table-view .column-header .label {
    -fx-text-fill: white;                   /* header text color */
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.table-view .table-row-cell:even {
    -fx-background-color: #ffffff;  /* dark gray for even rows */
}

.table-view .table-row-cell:odd {
    -fx-background-color: #fcfcfc;  /* slightly lighter gray for odd rows */
}

.table-view .table-row-cell:hover {
    -fx-background-color: rgba(147, 147, 147, 0.2); /* semi-transparent green */
}

.table-view .table-row-cell:selected {
    -fx-background-color: rgba(134, 134, 134, 0.3); /* stronger green for selection */
}

.table-view .table-row-cell {
    -fx-pref-height: 25px;    /* desired row height */
}

.table-view {
    -fx-border-radius:5px;
    -fx-border-width:1px;
    -fx-border-color:#ededed;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}